@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars globally while keeping scrollability */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
  width: 0px;
  height: 0px;
  background: transparent;
}
